{% comment %} <div id="popup" class="popup hidden">
    <div class="popup-content">
      {% comment %} <span class="popup-close" onclick="closePopup()">&times;</span> {% endcomment %}
      <p id="popup-text"></p>
    </div>
</div> {% endcomment %}

{% comment %} 
    Shows the popup at the specific page or collection. Saves the data in cookie files.
    Cookies are active for 24h.
    
    All we need to change variables that contain resources that we need to show messages on:
    - allowed_pages
    - allowed_collections

    !!! If we need to add new page/collection, u write all of them without spaces between, for instance:
    => allowed_pages = "kitchen-dine,wine"

    Usage:
    {% render 'popup' %}

{% endcomment %}

{% comment %} WORKING {% endcomment %}
{% assign allowed_pages = settings.allowed_pages | split: "," %}
{% assign allowed_collections = settings.allowed_collections | split: "," %}
{% assign custom_message_pages = settings.custom_message_pages | split: "," %}
{% assign use_custom_options = settings.use_custom_options %}

{% assign custom_yes_button_link = settings.custom_yes_button_link %}
{% assign custom_no_button_link = settings.custom_no_button_link %}

<script>
  window.allowedPages = {{ allowed_pages | json }};
  window.allowedCollections = {{ allowed_collections | json }};
  window.customMessagePages = {{ custom_message_pages | json }};
  window.currentPage = "{{ request.path }}".toLowerCase();
  window.useCustomOptions = {{ use_custom_options | json }};
  window.customYesButtonLink = "{{ settings.custom_yes_button_link }}";
  window.customNoButtonLink = "{{ settings.custom_no_button_link }}";
</script>

{% if request.path contains '/pages/' or request.path contains '/collections/' %}
  {% if use_custom_options %}
    <!-- Custom Message Popup -->
    <div id="custom-popup" class="popup hidden">
      <div class="popup-content">
        <p id="popup-text">{{ settings.custom_popup_text }}</p>
        <button onclick="checkConfirm(true, '{{ custom_yes_button_link | escape }}')" id="yes-button" class="yes-button">{{ settings.custom_yes_button_text }}</button>
        <button onclick="checkConfirm(false, '{{ custom_no_button_link | escape }}')" id="no-button" class="no-button">{{ settings.custom_no_button_text }}</button>
      </div>
    </div>
  {% endif %}
  
  <!-- Age Verification Popup -->
  <div id="age-verification-popup" class="popup hidden">
    <div class="popup-content">
      <p id="popup-text">{{ settings.question }} <br><span> {{ settings.question_confirmation }} </span></p>
      <button onclick="checkAge(true)" class="yes-button">{{ settings.yes_button }}</button>
      <button onclick="checkAge(false)" class="no-button">{{ settings.no_button }}</button>
    </div>
  </div>
{% endif %}

{% comment %} WORKING END{% endcomment %}
